@using MyMovie.Models
@model Student
@{
    ViewData["Title"] = "Create";
}

<form method="post">
    <div>
        @*label*@
        <label asp-for=Name></label>
        @*输入框*@
        <input asp-for="Name" />
        @*错误信息提示*@
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        @*label*@
        <label asp-for=Age></label>
        @*输入框*@
        <input asp-for="Age" />
        @*错误信息提示*@
        <span asp-validation-for="Age"></span>
    </div>
    <div>
        @*label*@
        <label asp-for=Gender></label>
        @*下拉列表*@
        <select asp-for="Gender" asp-items="Html.GetEnumSelectList<Gender>()"></select>
        @*错误信息提示*@
        <span asp-validation-for="Age"></span>
    </div>

    <button type="submit" name="save">增加</button>




    @*错误汇总 ModelOnly:model级别错误   *@
    @*<div asp-validation-summary="All"></div>*@
</form>
